<section>
    <h1 class="text-center p-2">Bienvenido Chofer</h1>
    <h2 class="text-center ">{{nombreUsuario}}</h2>

    {{#finalizarProforma}}
        <div class="container alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Se finalizo la proforma correctamente</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {{/finalizarProforma}}
    {{#iniciarProforma}}
        <div class="container alert alert-success alert-dismissible fade show" role="alert">
            <strong>Iniciaste la proforma correctamente</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {{/iniciarProforma}}
    {{#errorViajeActivo}}
        <div class="container alert alert-danger alert-dismissible fade show" role="alert">
            <strong>No puedes activar esta proforma, tienes una proforma activa</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {{/errorViajeActivo}}

</section>
<section class="p-3">
    <h4>Tus viajes</h4>
    <article>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link c-pointer text-success borde-activo" id="Activos">Activos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link c-pointer text-secondary borde-pendiente" id="Pendientes">Pendientes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link c-pointer text-danger borde-finalizado" id="Finalizados">Finalizados</a>
            </li>
        </ul>
    </article>
    <article class="popup1">
        <div class="table-responsive mb-5 mt-3">
            <table class="table table-dark table-striped table-bordered" style="width: 100%;" id="mydatatableViajesA">
                <thead>
                <tr>
                    <th scope="col">Estado</th>
                    <th scope="col">Desde</th>
                    <th scope="col">Hacia</th>
                    <th scope="col">Duracion Aproximada</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {{#tablaDeViajesActivo}}
                    <tr>
                        <td class="text-success">{{estado}}</td>
                        <td>{{partida}}</td>
                        <td>{{destino}}</td>
                        <td>{{tiempo_estimado}}</td>
                        <td class="text-right">
                            <a class="btn btn-outline-danger p-1 mt--6"
                               href="/Chofer/finalizarProforma?&proformaID={{id_proforma}}">Finalizar</a>
                            <a class="btn btn-outline-secondary p-1 mt--6" href="/pdfProforma?idChofer={{idChofer}}&proformaID={{id_proforma}}">Ver
                            mas</a>
                        </td>
                    </tr>
                    <div>
                        <input type="hidden" value="{{latitud_partida}}" id="latitud_partida">
                        <input type="hidden" value="{{longitud_partida}}" id="longitud_partida">
                        <input type="hidden" value="{{latitud_destino}}" id="latitud_destino">
                        <input type="hidden" value="{{longitud_destino}}" id="longitud_destino">
                    </div>
                    {{/tablaDeViajesActivo}} {{^tablaDeViajesActivo}}
                    <td class="text-success">(vacio)</td>
                    <td>(vacio)</td>
                    <td>(vacio)</td>
                    <td>(vacio)</td>
                    <td class="text-right">
                        <a class="btn btn-outline-secondary p-1 mt--6" href="/Chofer">Ver mas</a>
                    </td>
                {{/tablaDeViajesActivo}}
                </tbody>
                <tfoot>
                <tr>
                    <th scope="col">Estado</th>
                    <th scope="col">Desde</th>
                    <th scope="col">Hacia</th>
                    <th scope="col">Duracion Aproximada</th>
                    <th scope="col"></th>
                </tr>
                </tfoot>
            </table>
        </div>
    </article>
    <article class="chofer-hidden popup2">
        <div class="table-responsive mb-5 mt-3">
            <table class="table table-dark table-striped table-bordered" style="width: 100%;" id="mydatatableViajesP">
                <thead>
                <tr>
                    <th scope="col">Estado</th>
                    <th scope="col">Desde</th>
                    <th scope="col">Hacia</th>
                    <th scope="col">Duracion Aproximada</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {{#tablaDeViajesPendientes}}
                    <tr>
                        <td class="text-secondary">{{estado}}</td>
                        <td>{{partida}}</td>
                        <td>{{destino}}</td>
                        <td>{{tiempo_estimado}}</td>
                        <td class="text-right">
                            <a class="btn btn-outline-success p-1 mt--6"
                               href="/Chofer/iniciarProforma?&proformaID={{id_proforma}}">Iniciar</a>
                            <a class="btn btn-outline-secondary p-1 mt--6" href="/pdfProforma?idChofer={{idChofer}}
                            &proformaID={{id_proforma}}">Ver
                            mas</a>
                        </td>
                    </tr>
                {{/tablaDeViajesPendientes}} {{^tablaDeViajesPendientes}}
                    <td class="text-secondary">(vacio)</td>
                    <td>(vacio)</td>
                    <td>(vacio)</td>
                    <td>(vacio)</td>
                    <td class="text-right">
                        <a class="btn btn-outline-secondary p-1 mt--6" href="/Chofer">Ver mas</a>
                    </td>
                {{/tablaDeViajesPendientes}}
                </tbody>
                <tfoot>
                <tr>
                    <th scope="col">Estado</th>
                    <th scope="col">Desde</th>
                    <th scope="col">Hacia</th>
                    <th scope="col">Duracion Aproximada</th>
                    <th scope="col"></th>
                </tr>
                </tfoot>
            </table>
        </div>
    </article>
    <article class="chofer-hidden popup3">
        <div class="table-responsive mb-5 mt-3">
            <table class="table table-dark table-striped table-bordered" style="width: 100%;" id="mydatatableViajesF">
                <thead>
                <tr>
                    <th scope="col">Estado</th>
                    <th scope="col">Desde</th>
                    <th scope="col">Hacia</th>
                    <th scope="col">Duracion Aproximada</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {{#tablaDeViajesFinalizados}}
                    <tr>
                        <td class="text-danger">{{estado}}</td>
                        <td>{{partida}}</td>
                        <td>{{destino}}</td>
                        <td>{{tiempo_estimado}}</td>
                        <td class="text-right">
                            <a class="btn btn-outline-secondary p-1 mt--6" href="/pdfProforma?idChofer={{idChofer}}
                            &proformaID={{id_proforma}}">Ver
                            mas</a>
                        </td>
                    </tr>
                {{/tablaDeViajesFinalizados}} {{^tablaDeViajesFinalizados}}
                    <td class="text-danger">(vacio)</td>
                    <td>(vacio)</td>
                    <td>(vacio)</td>
                    <td>(vacio)</td>
                    <td class="text-right">
                        <a class="btn btn-outline-secondary p-1 mt--6" href="/Chofer">Ver mas</a>
                    </td>
                {{/tablaDeViajesFinalizados}}
                </tbody>
                <tfoot>
                <tr>
                    <th scope="col">Estado</th>
                    <th scope="col">Desde</th>
                    <th scope="col">Hacia</th>
                    <th scope="col">Duracion Aproximada</th>
                    <th scope="col"></th>
                </tr>
                </tfoot>
            </table>
        </div>
    </article>

</section>
<section class="container">
    <div id="map"></div>
</section>